<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cleaning</title>
    <link rel="stylesheet" href="/css/cleaning.css">
</head>
<body>
     {{>nav}}
        
        <div class="grey">
            <div class="background">
                <p class="our">HOME CLEANING SERVICES</p>
                <p class="text">We believe your weekends weren’t made for housework.</p>
            </div>

            <p class="top">Check Out All Cleaning Services</p>
            <div class="down">
  
            <div class="left">
    
                <button class="left-button" id="left-button">
                    <div class="prev">
                    </div>
                </button>
             </div>
             <div class="center" id="content">
                <div class=internal>
                    <img src="pictures/pexels-matilda-wormwood-4099260.jpg" width="350px" height="250px">
                    <p>Sanitization and Disinfection</p>
                    <a href="./payment"><button>
                        Get Service
                    </button></a>
                    <button class="b">
                        Starting from $29
                    </button>
                </div>
                <div class=internal>
                    <img src="pictures/pexels-askar-abayev-5637909.jpg" width="350px" height="250px">
                    <p>Kitchen Cleaning</p>
                    <a href="./payment"><button>
                        Get Service
                    </button></a>
                    <button class="b">
                        Starting from $29
                    </button>
                </div>
                <div class=internal>
                    <img src="pictures/pexels-cottonbro-7703296.jpg" width="350px" height="250px">
                    <p>Floor Cleaning + Cotton Mats</p>
                   <a href="./payment">  <button>
                        Get Service
                    </button></a>
                    <button class="b">
                        Starting from $29
                    </button>
                </div>
                <div class=internal>
                    <img src="pictures/pexels-cottonbro-4684377.jpg" width="350px" height="250px">
                    <p>Party Floor Cleaning</p>
                   <a href="./payment">  <button>
                        Get Service
                    </button>
                    <button class="b">
                        Starting from $29
                    </button></a>
                </div>
                <div class=internal>
                    <img src="pictures/pexels-matilda-wormwood-4098576.jpg" width="350px" height="250px">
                    <p>Washroom Cleaning</p>
                    <button>
                        Get Service
                    </button>
                    <button class="b">
                        Starting from $29
                    </button>
                </div>
                <div class=internal>
                    <img src="pictures/pressure washing services.png" width="350px" height="250px">
                    <p>Pressure Washing Services</p>
                    <button>
                        Get Service
                    </button>
                    <button class="b">
                        Starting from $29
                    </button>
                </div>
             </div>
             <div class="right">
                <button class="right-button" id="right-button">
                    <div class="next">
                    </div>
                </button>


            </div>
<div class="down1">
    <img src="pictures/cdc-VRpjDw3WqqI-unsplash.jpg" width="1300px" height="480px">
    <div class="layer">
        <h4>Complete Package Of Cleaning Services</h4>
        <h5>25% Solid Discounts</h5>
        <p>Sanitization and Disinfection + Kitchen Cleaning + Floor Cleaning including <br>Cotton Mats + Washroom Cleaning + Pressure Washing Services</p>
        <button>
           Click to Get Service
        </button>
    </div>
</div>

             </div>

             {{>footer}}
            
             <script>
                const rightBtn = document.querySelector('#right-button');
            const leftBtn = document.querySelector('#left-button');
            
            rightBtn.addEventListener("click", function(event) {
            const conent = document.querySelector('#content');
            conent.scrollLeft += 300;
            event.preventDefault();
            });
            
            leftBtn.addEventListener("click", function(event) {
            const conent = document.querySelector('#content');
            conent.scrollLeft -= 300;
            event.preventDefault();
            });
            
            </script>


        </div>
</body>
</html>