<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>



     {{>nav}}



    <section class="contact-page-sec">
    
          <div class="shrink">      
           
          <div class="row">
            <div class="col-md-8">
              <div class="contact-page-form" method="post">
                <h2>Contact Us</h2> 
                <form action="contact-mail.php" method="post">
                  <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-input-field">
                      <input type="text" placeholder="Your Name" name="name"/>
                    </div>
                  </div>  
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-input-field">
                      <input type="email" placeholder="E-mail" name="email" required/>
                    </div>
                  </div>                              
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-input-field">
                      <input type="text" placeholder="Phone Number" name="phone"/>
                    </div>
                  </div>  
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-input-field">
                      <input type="text" placeholder="Subject" name="subject"/>
                    </div>
                  </div>                
                  <div class="col-md-12 message-input">
                    <div class="single-input-field">
                      <textarea  placeholder="Write Your Message" name="message"></textarea>
                    </div>
                  </div>                                                
                  <div class="single-input-fieldsbtn">
                    <input type="submit" value="Send Now"/>
                  </div>                          
                </div>
                </form>   
              </div>      
            </div>
            <div class="col-md-4">        
              <div class="contact-page-map">
              </div>          
            </div>        
          </div>
        </div>
        </div>   
      </section>
</body>
</html>