<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMESQUARE</title>
    <link rel="stylesheet" href="/css/stylefirst.css">


   
</head>
<body onload="myFunction()">

         <div id="hero" class = "hero">
             
            <div class="close" id="close">
                <a href="#"><img src="pictures/close.png" width="14px"></a>
             </div> 

            <div class="form-box"> 
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" id="toggle-login" class="toggle-btn">Log In</button>
                    <button type="button" id="toggle-register" class="toggle-btn">Register</button>
    
                </div>
                <div class="social-icons">
                    <img src="pictures/fb.png">
                    <img src="pictures/gp.png">
                    <img src="pictures/tw.png">
        
                </div>
                <form id="login" class="input-group" action="/register" method="post">
                    <input type="text" class="input-field" placeholder="User Id"  required> 
                    <input type="text" class="input-field" placeholder="Enter Password"  required> 
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn">Log in</button>
    
                </form>
                <form id="register" class="input-group"  action="/register" method="post">
                    <input type="text" class="input-field" placeholder="User Id" name ="userid" required> 
                    <input type="email" class="input-field" placeholder="Email Id" name ="email" required> 
                    <input type="text" class="input-field" placeholder="Enter Password" name ="password" required> 
                    <input type="checkbox" class="check-box"><span>I agree to the terms & conitions</span>
                    <button type="submit" class="submit-btn" value="Register">Register</button>
    
                </form>
            </div>
            
        </div>
    

    <div class="background">
        <div class="menu">
            <div>
                <button type="button" class="button" id="button">Login</button>
              </div>
        <div class="navbar">
            <ul>
               
                <li class="home"><a href="">Home</a></li>
                <li><a href="./blog">Blogs</a></li>
                <li><a href="#about" >About us</a></li>
                <li><a href="./contact">Contact</a></li>
                
            </ul>
        </div>
        <div class="logo">
            <a href="#"><img src="pictures/HOME SQUARE.svg" width="650px"></a>
        </div>

        </div>

        <div class="h1">
            <h1 >HOME SQUARE</h1> </div>
    <div class="h2">
            <p >Safe services at home, Safe with home square</p>
        </div>

        <div class="service">
            <p><a href="#services"> Check Out Services</a></p>
        </div>

    </div>
    <div class="orange">
        <p class="safe">Safe Services at Home.<br>Safe with Home Square.</p>
        <hr class="line">
        <p class="covid">COVID-19 Preventive Measures</p>

        <div class="white1">
            <img class="i1" src="pictures/man (1).png" alt="" width="160px">
        </div>
        <p class="i1text">Mandatory Use of Gloves, <br> Masks & Sanitizers</p>
        
        <div class="white2">
            <img class="i2" src="pictures/handwash.png" alt="" width="150px">
        </div>
        <p class="i2text">WHO recommended Hygiene <br> Protocols Followed</p>

        <div class="white3">
            <img class="i3" src="pictures/dust.png" alt="" width="140px">
        </div>
        <p class="i3text">Sterilized Equipments & <br> Single-Use Products</p>
    </div>

    <section></section>
        <div class="grey">
            <div>
                    <p class="our" id="services">Home Square Services</p>
                </div>
        
        
                <div class="icons">
                    
                        <ul>
                            <li class="icon1"><a href="./saloon"><img src="pictures/salon.png" width="70px" height="70px"><p class="aa">SALON SERVICES</p></a></li>
                            <li class="icon1"><a href="./beauty"><img src="pictures/massage.png" width="70px" height="70px"><p class="aa">SPA SERVICES</p></a></li>
                            <li class="icon1"><a href="./internet"><img src="pictures/wifi-router.png" width="70px" height="70px"><p class="aa">INTERNET SERVICES</p></a></li>
                            <li class="icon1"><a href="./electric"><img src="pictures/electric.png" width="70px" height="70px"><p class="aa">ELECTRIC SERVICES</p></a></li>
                            <li class="icon1"><a href="./plumber"><img src="pictures/plumbing.png" width="70px" height="70px"><p class="aa">PLUMBER SERVICES</p></a></li>
                            <li class="icon1"><a href="./cleaning"><img src="pictures/cleaning.png" width="70px" height="70px"><p class="aa">CLEANING SERVICES</p></a></li>
                            <li class="icon1"><a href="./gardening"><img src="pictures/gardening.png" width="70px" height="70px"><p class="aa">GARDENING SERVICES</p></a></li>
                            <li class="icon1"><a href="./petcare"><img src="pictures/pawprint.png" width="70px" height="70px"><p class="aa">PETCARE SERVICES</p></a></li>
                        </ul>
                    
        
                </div>

        <p class="popular">Most Demanded Services</p>
                <div class="white">
                    <div class="img">
                      <div> 
                           <img class="img1" src="pictures/spa img.png" width="400px" height="360px">
                           <div class="layer">
                           <div class="layer1">
                            <p class="p1">SPA SERVICES</p>
                            <div class="layer11">
                            
                            </div>
                           </div>
                        </div>
                    </div>
                      <div> <img class="img2" src="pictures/plumber img.png" width="400px" height="252.5px">
                        <div class="layer2">
                            <p class="p2">PLUMBER SERVICES</p>
                            <div class="layer22">
                            
                            </div>
                           </div>
                    </div> 
                       <div> <img class="img3" src="pictures/cleaning img.png" width="400px" height="252.5px">
                        <div class="layer3">
                            <p class="p3">CLEANING SERVICES</p>
                            <div class="layer33">
                            
                            </div>
                           </div>
                    </div>
                    </div>
                </div>

                    <div >
                        <p  class="facilities">100% GUARANTEE</p>
                        <P class="facilities1" id="about">Our first mission is to bring you happiness and joy, with all your support.</P>

                        <div class="facimg">
                    
                            <ul>
                                <li class=""><img src="pictures/safe.png" width="70px" height="70px"><p class="aaa">Hygiene Care</p></a></li>
                                <li class=""><img src="pictures/support.png" width="70px" height="70px"><p class="aaa">Customer Care</p></a></li>
                                <li class=""><img src="pictures/businessman.png" width="70px" height="70px"><p class="aaaa">Verified Professionals</p></a></li>
                                <li class=""><img src="pictures/handshake.png" width="70px" height="70px"><p class="aaa">Secured Work</p></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aboutus">
                        <p class="about">About Us</p>
                        
                    <div>
                        <p class="mission">Our Mission</p>
                        <p class="missiontext"> We try to provide outstanding service to our clients by offering first-class therapy and utilising all available resources to get the best possible results. In the comfort of their own homes, we help our customers in maintaining their independence and quality of life. You can have the best services while still being friendly, caring, and understanding. We make every effort to supply appropriate, trained, and skilled personnel to meet the demands of our clients. We believe that good service is powerful, hard work is essential, and exploring the unknown is important. We try to provide outstanding service to its customers by offering 1st care and utilising all available resources to get the optimum performance. Our passion is to help you with the task that takes up so much of your time. This isn't your typical office job. Cleaning, gardening, pet care, and babysitting are just a few of the household duties we can support you with.</p>
                       
                    </div>

                    <div class="vl"></div>

                    <div>
                        <p class="team">Our team</p>
                        <img class="teamimg" src="pictures/our team.jpg" width="500px" height="280px">
                    </div>
                </div>

                  
              <section>
                  <div >
                      <img id="contact" class="bestimg" src="pictures/icons8-team-yTwXpLO5HAA-unsplash.jpg" width="600px">
                      <div class="layerblack">
                          <p>WHY US?</p>
                      </div>
                  </div>
                  <div>
                      <p class="why">What makes our services the best?</p>
                      <p class="why1"> We believe that good service is powerful, hard work is essential, and exploring the unknown is important. We try to provide outstanding service to its customers by offering 1st care and utilising all available resources to get the optimum performance. Our passion is to help you with the task that takes up so much of your time. This isn't your typical office job. Cleaning, gardening, pet care, and babysitting are just a few of the household duties we can support you with. You can also enjoy the services such as plumbing, electric repairs, internet services, fixing and repair of cc cameras. 
                        Finding time for yourself and relaxing is essential in such a hectic schedule. Rest and self-care are extremely important to us. How about taking use of the beauty services from home? Our website is created in a clear and user-friendly manner. As a result, booking your service won't take up much of your time. For more informations please go through blogs, which helps you to update daily.   </p>

                  </div>
                  <div>
                      <p class="bloggo"><a href="./blog">Check out Blogs</a> </p>
                  </div>
              </section>


            </div>


{{>footer}}

           
        
            <script>
                var x = document.getElementById("register");
                      var y = document.getElementById("login"); 
                      var z = document.getElementById("btn"); 
                  
                      function register(){
                          x.style.left = "-400px";
                          y.style.left = "50px";
                          z.style.left = "110px";
                      }
                      function login(){
                          x.style.left = "50px";
                          y.style.left = "450px";
                          z.style.left = "0px";
                      }
                        </script>
          <script>
            document.getElementById('button').addEventListener('click',function()
            {
              document.querySelector('.hero').style.display = 'block';
          
            });
            document.getElementById('close').addEventListener('click',function()
            {
              document.querySelector('.hero').style.display = 'none';
          
            });

            {{!-- const text = '{
                "mission" :"We try to provide outstanding service to our clients by offering first-class therapy and utilising all available resources to get the best possible results. In the comfort of their own homes, we help our customers in maintaining their independence and quality of life. You can have the best services while still being friendly, caring, and understanding. We make every effort to supply appropriate, trained, and skilled personnel to meet the demands of our clients. We believe that good service is powerful, hard work is essential, and exploring the unknown is important. We try to provide outstanding service to its customers by offering 1st care and utilising all available resources to get the optimum performance. Our passion is to help you with the task that takes up so much of your time. This isn't your typical office job. Cleaning, gardening, pet care, and babysitting are just a few of the household duties we can support you with.",
                "why1" : "We believe that good service is powerful, hard work is essential, and exploring the unknown is important. We try to provide outstanding service to its customers by offering 1st care and utilising all available resources to get the optimum performance. Our passion is to help you with the task that takes up so much of your time. This isn't your typical office job. Cleaning, gardening, pet care, and babysitting are just a few of the household duties we can support you with. You can also enjoy the services such as plumbing, electric repairs, internet services, fixing and repair of cc cameras. Finding time for yourself and relaxing is essential in such a hectic schedule. Rest and self-care are extremely important to us. How about taking use of the beauty services from home? Our website is created in a clear and user-friendly manner. As a result, booking your service won't take up much of your time. For more informations please go through blogs, which helps you to update daily."
            }';


            const textob = Json.Parse(text)
             
            document.getElementsByClassName("missiontext").innerHTML(textob.mission)
            document.getElementsByClassName("why1").innerHTML(textob.why1) --}}
           
          </script>
</body>
</html>