 <div class="grey1">
                <div>
                    <img class="ho" src="pictures/HOME SQUARE.svg" width="650px" >
                </div>
                <div class="v2"></div>
                <p class="stay">STAY CONNECTED</p>
                <div class="social">
                    
                    <ul>
                        <li class=""><img src="pictures/icons8-facebook.svg" width="40px"></a></li>
                        <li class=""><img src="pictures/icons8-twitter-circled.svg" width="40px" ></a></li>
                        <li class=""><img src="pictures/icons8-google.svg" width="40px" ></a></li>
                        <li class=""><img src="pictures/icons8-instagram.svg" width="40px" ></a></li>
                        <li class=""><img src="pictures/icons8-linkedin.svg" width="40px" ></a></li>

                    </ul>
                </div>
                <p class="company">Company</p>
                <div class="list1">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Popular Services</a></li>
                        <li><a href="#">Why Us</a></li>
                    </ul>
                </div>

                <p class="cities">Cities</p>
                <div class="list2">
                    <ul>
                        <li><a href="#">Bangalore</a></li>
                        <li><a href="#">Kurnool</a></li>
                        <li><a href="#">Chennai</a></li>
                        <li><a href="#">Kolkata</a></li>
                        <li><a href="#">Hyderabad</a></li>
                        <li><a href="#">Vishakapatnam</a></li>
                    </ul>
                </div>
            </div>