 <div class="menu">
       
        <div class="navbar">
            <ul>
               
                <li class="home"><a href="./first">Home</a></li>
                <li class="blog" ><a href="./blog">Blogs</a></li>
                <li><a href="#about" >About us</a></li>
                <li><a href="./contact">Contact</a></li>
                <li class="box"><a href="/first">Login</a></li>
            </ul>
        </div>
        <div class="logo">
            <a href="#"><img src="pictures/HOME SQUARE.svg" width="650px"></a>
        </div>