*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.menu {
    background-color: gray;
    width: 100%;
    height: 9%;
    position: absolute;
}
.logo {
    margin-top: -140px;
    margin-left: -110px;
}
.navbar ul {
    font-size: 13px;
    font-family: sans-serif;
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 50px;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    border: 1px solid #e67319;
    transition: 0.5s ease-in-out;
    border: hidden;
    border-radius: 5px;
}
.navbar ul li.blog a {
    background-color: #e67319;
}
.navbar ul li.box a {
    margin-left: 20px;
    border: 1px solid #e67319;
}
.navbar ul li a:hover {
    background-color: #e67319;
    color: white;
   
}

.block {
    background-color: white;
    width: 98%;
    margin-left: 1%;
    height: 230px;
    margin-top: 10px;
   
}




.grey {
    background-color: rgba(128, 128, 128, 0.281);
    width: 100%;
    height: 1900px;
    margin-top: -170px;
    position: absolute;
   
}
.background {
    background-image:linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)), url(../pictures/pexels-daria-obymaha-1684149.jpg);
    width: 100%;
    height: 200px;
    position: absolute;
}
.our {
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    margin-top: 50px;
    text-align: center;
    
}
.text {
    font-size: 15px;
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
.last {
    color: black;
    margin-top: 250px;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30px;
    padding-top: 20px;
}
.text1 {
    color: black;
    margin-top: 30px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 30px;
    line-height: 25px;
}
.text2 {
    color: black;
    margin-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 30px;
    line-height: 25px;
}
.text3 {
    color: black;
    margin-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 30px;
    line-height: 25px;
}
.top {
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 45px;
    margin-left: 30px;
}


.white1 {
    background-color: rgba(255, 255, 255, 0.89);
    width: 25%;
    height: auto;
    margin-top: 120px;
    margin-left: 130px;
   
    /* transition: 0.5s ease-in-out; */
}
.white1:hover {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.192);
    
}

.white1 p {
    width: 340px;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 17px;    
}
.white1 h5 {
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #e67219;
    padding: 10px;
    margin-top: -3px;
    background-color: #e67219;
    color: white;
    font-weight: 200;
    text-align: center;
}


.white2 {
    background-color: rgba(255, 255, 255, 0.89);
    width: 25%;
    height: auto;
    margin-top: -440px;
    margin-left: 580px;
    position: absolute;
}
.white2:hover {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.192);
}
.white2 p {
    width: 340px;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 17px;    
}
.white2 h5 {
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #e67219;
    padding: 10px;
    margin-top: -3px;
    background-color: #e67219;
    color: white;
    font-weight: 200;
    text-align: center;
}




.white3 {
    background-color: rgba(255, 255, 255, 0.89);
    width: 25%;
    height: auto;
    margin-top: -440px;
    margin-left: 1030px;
}
.white3:hover {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.192);
}
.white3 p {
    width: 340px;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 17px;    
}
.white3 h5 {
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #e67219;
    padding: 10px;
    margin-top: -3px;
    background-color: #e67219;
    color: white;
    font-weight: 200;
    text-align: center;
}

.white4 {
    background-color: rgba(255, 255, 255, 0.89);
    width: 25%;
    height: 450px;
    margin-top: 0px;
    margin-left: 130px;
    position: absolute;
}
.white4:hover {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.192);
}
.white4 p {
    width: 340px;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 17px;    
}
.white4 h5 {
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #e67219;
    padding: 10px;
    margin-top: -3px;
    background-color: #e67219;
    color: white;
    font-weight: 200;
    text-align: center;
}

.white5 {
    background-color: rgba(255, 255, 255, 0.89);
    width: 25%;
    height: auto;
    margin-top: 100px;
    margin-left: 580px;
}
.white5:hover {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.192);
}

.white5 p {
    width: 340px;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 17px;    
}
.white5 h5 {
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #e67219;
    padding: 10px;
    margin-top: -3px;
    background-color: #e67219;
    color: white;
    font-weight: 200;
    text-align: center;
}

.img1 {
    position: absolute;
}

.tt1 {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    margin-top: 60px;
    margin-left: 50px;
}
.i{
    margin-top: 60px;
    margin-left: 330px;
}
.ip1{
    font-size: 15px;
    font-family: sans-serif;
    margin-left: -15px;
    margin-top: 10px;
}
.line1 {
    width: 250px;
    background-color: #e67219;
    padding: 1px;
    margin-left: 420px;
    margin-top: -60px;
}
.i2{
    position: absolute;
    margin-left: 375px;
    margin-top: -102px;
    
}
.ip2{
    font-size: 15px;
    font-family: sans-serif;
    margin-left: -380px;
    text-align: center;
    margin-top: -18px;

}
.line2 {
    width: 250px;
    background-color: #e67219;
    padding: 1px;
    margin-left: 805px;
    margin-top: -4px;
}
.i3{
    position: absolute;
    margin-left: 750px;
    margin-top: -102px;
}
.ip3 {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: -20px;
    margin-left: 690px;
}



.grey1 {
    position: absolute;
    background-color: grey;
    width: 100%;
    height: 230px;
    margin-top: 1730px;
    
}
.ho {
    position: absolute;
    margin-top: -120px;
    margin-left: -100px;
}
.v2 {
    background-color: orangered;
    width: 1px;
    height: 50px;
    position: absolute;
    margin-top: -3000px;
    }
.stay {
    font-size: 18px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.877);
    position: absolute;
    margin-top: 70px;
    margin-left: 410px;
}


.social ul{
    list-style-type: none;
    align-items: center;
    position: absolute;
   margin-top: 120px;
    margin-left: 400px;
}
.social ul li {
    display: inline-block;
    position: relative;
    justify-content:space-evenly;
    padding: 0 10px;
    
}
.social ul li a {
    text-decoration: none;
   
}
.ions ul {
    list-style-type: none;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
}
.icons ul li{
    display: inline-block;
    position: relative;
    justify-content:space-evenly;
    
    padding: 0 25px;
    margin-left: -10px;
    margin-bottom: 10px;
    border: 1px solid #e67319;
    padding: 20px;
    width: 200px;
    border: hidden;
}
.icons ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    color: #000000;
    margin-left: 65px; 
}

.company {
   font-size: 17px;
   font-family: sans-serif;
   margin-left: 850px;
   margin-top: 30px;
   color: rgba(255, 255, 255, 0.911);

}

.list1 ul {
    font-size: 13px;
    font-family: sans-serif;
    float: right;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 560px;
    
}
.list1 ul li{
    padding: 2px 0px;
}
.list1 ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.596);   
}
.list1 ul li a:hover {
    color: white


}


.cities {
    font-size: 17px;
    font-family: sans-serif;
    margin-left: 1060px;
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.911);
 
 }
 .list2 {
     position: absolute;
     margin-top: 15px;
 }
 .list2 ul {
     font-size: 13px;
     font-family: sans-serif;
     list-style-type: none;
     margin-top: 0px;
     margin-left: 1060px;
     
 }
 .list2 ul li{
     padding: 2px 0px;
 }
 .list2 ul li a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.596);   
 }
 .list2 ul li a:hover {
     color: white;
 }





 .read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;

}

 .readbtn { 
   color: white;
   background-color: #e67219;
   border: none;
   font-size: 16px;
   padding: 8px;
   border-radius: 8px;
   margin-left: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   cursor: pointer;
}
.readbtn:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
